.layout {
    width : 100%;
    height: 100vh;
}

.home-btn {
    float: left;
    font-family: Playfair Display;
    font-size: 150%;
    color: rgba(138,43,226,1);
    margin-top: 0%;
    margin-left: 3%;
    font-weight: bold;
}

.about-btn {
    float: right;
    font-family: Playfair Display;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 250%;
}

.experience-btn {
    float: right;
    font-family: Playfair Display;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 15%;
}

.contact-btn {
    float: right;
    font-family: Playfair Display;
    font-size: 150%;
    margin-top: 1%;
    margin-left: 15%;
}

.banner-text {
    float: left;
    margin-top: 1%;
    margin-left: 15%;
    width: 50%;
    color: rgba(0,0,0,1);
    font-family: Playfair Display;
    font-size: 50px;
    text-align: left;
}

.profile-pic {
    width: 25%;
    height: 70%;
    float: right;
    background: url("./fotodiri.png");
    background-position: center center;
    background-size: cover; 
    margin-top: 3%;
    margin-right: 7%;
    border-radius: 10% 10% 10% 10%;
    /*overflow: hidden;*/
}

.about-btn-2 {
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    color: rgba(50,205,50,1);
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 190%;
    text-align: center;
}

.experience-btn-2 {
    float: left;
    margin-top: 2%;
    margin-left: 15%;
    color: rgba(50,205,50,1);
    font-family: Montserrat;
    font-weight: Bold;
    font-size: 190%;
    text-align: center;
}

.aboutme-text {
    float: left;
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 0%;
    width: 50%;
    color: rgba(0,0,0,1);
    font-family: Playfair Display;
    font-size: 20px;
    text-align: left;
}

.foto1 {
    width: 150px;
    height: 210px;
    float: right;
    background: url("./me.png");
    background-position: center center;
    background-size: cover; 
    margin-top: -5%;
    margin-right: 20%;
    overflow: hidden;
}

.foto2 {
    width: 250px;
    height: 210px;
    float: right;
    background: url("./fam.png");
    background-position: center center;
    background-size: cover; 
    margin-top: -1%;
    margin-right: 5%;
    overflow: hidden; 
}

.foto3 {
    width: 150px;
    height: 210px;
    float: right;
    background: url("./friends.png");
    background-position: center center;
    background-size: cover; 
    margin-top: 7%;
    margin-right: -3%;
    overflow: hidden;
}

.big-text {
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    width: 30%;
    color:  rgba(138,43,226,1);
    font-family: Playfair Display;
    font-size: 50px;
    text-align: left;
}

