{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Playfair+Display&display=swap"/>
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Montserrat&display=swap"/>
    <link rel = "stylesheet" href = "./style.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand, home-btn" href="/">Affan Mirza</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link, about-btn" href="/bookfinder">Books</a>
              <a class="nav-item nav-link, experience-btn" href="/user">Login</a>
              <a class="nav-item nav-link, contact-btn" href="/isidata/daftarkelas">Kelas</a>
              <a class="nav-item nav-link, experience-btn" href="/accordion">Profile</a>
            </div>
          </div>
        </nav>
        {% block content %}
        {% endblock content %}
</body>
</html>