.main-text {
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    width: 30%;
    color:  rgba(138,43,226,1);
    font-family: Playfair Display;
    font-size: 50px;
    text-align: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 33.3%;
  padding: 0 20px;
}.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}.column h3 {
    color: #63526C;
}

@media screen and (max-width: 1200px) {
  .column {
    flex: 33%;
    max-width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.wrapper {
  min-height: 100vh !important;
  transition: .5s ease-out;
}

.header {
  color: #444343;
  height: 3.5rem;
  transition: .5s ease-out;
}

.header:hover {
  cursor: pointer;
}

.buttons {
  height: 3.5rem;
}

.up:hover {
  color: rgba(50,205,50,1);
}
.up {
  color: black;
  transition: .2s ease-out;
}

.down:hover {
  color: red;
  opacity: 0.9;
}

.down {
  color: black;
  transition: .2s ease-out;
}

.content {
  display: none;
}

.title {
  color: rgba(138,43,226,1);
}
.title:hover {
  color: rgba(50,205,50,1);
}

.accordion-1 {
  order: 1;
}

.accordion-2 {
  order: 2;
}

.accordion-3 {
  order: 3;
}

.accordion-4 {
  order: 4;
}

.accordion-5 {
  order: 5;
}

img{
  max-width: 9rem;
}
td{
  max-width: 45rem;
}