{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <title>About Me</title>
    </head>
    <body>
        <div class = "layout">
            <div>
                <div class="big-text">About Me</div>
                <p class="aboutme-text">Nama Lengkap saya adalah Affan Mirza Chairy, biasa dipanggil teman-teman saya Affan. Saya lahir di Medan
                pada tanggal 16 April 2001. Saya besar di Jakarta selama 3 tahun dan di Depok selama 16 tahun. Saya mempunyai 
                satu kakak perempuan bernama Azra. Ia dua tahun lebih tua diatas saya.
                <br>
                Saya mempunyai beragam teman. Salah satunya adalah teman-teman SMA saya dahulu. Kami selalu 
                belajar dan bermain bersama. Pada akhirnya, kami semua diterima di perguruan tinggi yang diinginkan. 
                Berikut adalah biografi singkat saya.</p>
            </div>
            <div class="foto1"></div>
            <div class="foto2"></div>
            <div class="foto3"></div>
        </div>
    </body>
    {% endblock content %}
</html>