{% extends "base.html" %}

{% block meta %}
{% endblock meta %}

{% block content %}
<title>Accordion</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<div class="wrapper col-12">
    <div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
        <h1 >Hi, I am <b>Affan Mirza</b> !</h1>
        <div class="accordion col-md-10 p-0 mt-2 accordion-1" id="accor1">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Introduction</h2>
                <div class="buttons d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>Greetings! My name is Affan</p>
                    <p>I am an undergraduate Information Systems student @ University of Indonesia</p>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-2" id="accor2">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Current Activities</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>My current activities include:</p>
                    <ul class="m-0">
                        <li>Building knowledges of entrepreneurship</li>
                        <li>Learning investments</li>
                        <li>Reading self-motivation books</li>
                        <li>All things PROGRAMMING!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-3" id="accor3">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Experiences</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>Here are my current experiences:</p>
                    <ul class="m-0">
                        <li>Staff of Research and Strategic Action Department at BEM Fakultas Ilmu Komputer Universitas Indonesia</li>
                        <li>Staff of FUKI Corp.</li>
                        <li>Student Mentor at OKK UI</li>
                        <li>Staff of Relations and Publications at OH Fasilkom UI 2019</li>
                        <li>Staff of Equipment at PERAK 2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-4" id="accor4">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Achievements</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>I don't really have significant ones, but here it is!</p>
                    <ul class="m-0">
                        <li>Accepted at CSUI</li>
                        <li>(Other upcoming achievements are on progress...)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-5" id="accor5">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Contact</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&uarr;</h2>
                    </div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6">
                        <h2>&darr;</h2>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0 d-flex flex-column">
                    <div class="d-flex mt-2">
                        <img src="https://www.stickpng.com/assets/images/58e91afdeb97430e81906504.png" height="30"
                            width="30" class="mr-2">
                        <h4><a href="https://www.linkedin.com/in/affan-mirza-chairy/">LinkedIn</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock %}
