<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
{% block content %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity</title>
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <h1 class="text-center" style="color: #63526C;">My Activity</h1>
        </div>
        <div class="row">
            <div class="column text-center">
                <h3>Among Us</h3>
                <img src="{% static 'img/amongus.png' %}" style="width:100%">
                <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/1">Register</a>
                <table class="table">
                    <thead class="thead-dark">
                        <th scope="col">Nama Teman</th>
                    </thead>
                    <tbody>
                        {% for i in activity_1 %}
                        <tr>
                            <td class="table-dark">{{ i.name }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="column text-center">
                <h3>FIFA 20</h3>
                <img src="{% static 'img/fifa20.png' %}" width="1024" height="500" style="width:100%">
                <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/2">Register</a>
                <table class="table">
                    <thead class="thead-dark">
                        <th scope="col">Nama Teman</th>
                    </thead>
                    <tbody>
                        {% for i in activity_2 %}
                        <tr>
                            <td class="table-dark">{{ i.name }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="column text-center">
                <h3>Nonton Film</h3>
                <img src="{% static 'img/watchfilms.jpg' %}" style="width:100%">
                <a class="btn btn-dark mr-2 mt-2 mb-5" href="/register/3">Register</a>
                <table class="table">
                    <thead class="thead-dark">
                        <th scope="col">Nama Teman</th>
                    </thead>
                    <tbody>
                        {% for i in activity_3 %}
                        <tr>
                            <td class="table-dark">{{ i.name }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</body>
{% endblock content %}
</html>