{% extends "base.html"%}
{% load static %}

<link rel="stylesheet" href="{% static 'css/activity.css' %}">

{% block content %}
<title>Find Book</title>
<div class="d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-4" style="font-family: Playfair Display; color:rgba(138,43,226,1)">Find Any Book!</h1>
    </div>
</div>
<div class="container">
    <div class="my-searchbox">
        <div class="mb-4">
            <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <div class="my-booktable">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Foto</th>
                <th scope="col">Judul</th>
                <th scope="col">Deskripsi</th>
              </tr>
            </thead>
            <tbody class="my-tablebody" style="font-family: Playfair Display;">
            </tbody>
    </div>
</div>

<script src="{% static 'js/bookfinder.js' %}"></script>
{% endblock %}
