{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body style="text-align: center;">
        <br>
        {% if kelas %}
        <table>
            <tr>
                <th>Nama Kelas</th>
                <th>Dosen</th>
                <th>Jumlah SKS</th>
                <th>Deskripsi</th>
                <th>Semester</th>
                <th>Ruang</th>
            </tr>
            <tr>
                <td>{{ kelas.mata_kuliah}}</td>
                <td>{{ kelas.dosen }}</td>
                <td>{{ kelas.sks }}</td>
                <td>{{ kelas.deskripsi }}</td>
                <td>{{ kelas.semester_tahun }}</td>
                <td>{{ kelas.ruang_kelas }}</td>
            </tr>

        </table>
        {% endif %}
    </body>
{% endblock content %}
</html>