{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Isi Form</title>
    </head>
    <body style="text-align: center;">
        <h2>Isi Mata Kuliah Disini!</h2>
        <form action = "{% url 'main:savename' %}" method="POST">
            {% csrf_token %}
            {{ input_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </body>
{% endblock content %}
</html>