{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block content %}
    <head>
        <title>Affanmrz</title>
    </head>
    <body>
        <div class = "layout">
            <div class = "banner-text" >Hi there. I’m 
                <div style="color:  rgba(138,43,226,1)">
                    Affan.
                </div>
                A Computer Science Student and a Data Enthusiast.
            </div>
            <div class = "profile-pic"></div>
            <div class = "about-btn-2">
                <a style= "text-decoration: none; color:rgba(50,205,50,1)" href="/about">Get to know me!</a>
            </div>
            <div class = "experience-btn-2">Experiences</div>
        </div>
    </body>
    {% endblock content %}
</html>