<!DOCTYPE html>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
{% block content %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container-fluid">
        <form action="" class="main-form" id="form" method="POST">
            <h1>Register Forms</h1>
            {% csrf_token %}
            <div class="row">
                <div class="col md-4">
                    <div class="form-group">
                        {{ formset.management_form }}
                        {% for form in formset %}
                        {{ form|crispy }}
                        {% endfor %}
                        <br>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>    
</body>
{% endblock content %}
</html>