{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Daftar Kelas</title>
    </head>
    <body style="text-align: center;">
        <h2>Daftar Kelas-kelas:</h2>
        {% if courses %}
            <table>
                <tr>
                    <th>Nama Kelas</th>
                    <th>Detil</th>
                    <th>Hapus</th>
                </tr>
            {% for course in courses %}
                <tr>
                    <td>{{ course.mata_kuliah }}</td>
                    <td><a href="{% url 'main:details' pk=course.pk %}">Details</a></td>
                    <td> <a href="{% url 'main:delete' pk=course.pk %}">Delete</a></td>
                    {% csrf_token %}
                </tr>
            <br/>
            {% endfor %}
        </table>
    {% endif %}
    </body>
    {% endblock content %}
</html>