{% extends 'base.html' %}

{% block title %}Story10{% endblock %}

{% block content %}
<div style="margin-top: 1em;" class="container"></div>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="d-flex align-items-center">
      <div class="container text-center">
        <h3>Selamat Datang {{ user.username }} !!</h3>
        <br>
        <br>    
        <a id='sub-logout' class="btn btn-primary" href="{% url 'main:logout' %}">Logout</a>
      </div>
    </div>
      {% else %}
      <div class="d-flex align-items-center">
        <div class="container text-center">
        <h1 class="display-4" style="font-family: Montserrat; color:rgba(138,43,226,1)">You are not logged in.</h1>
        <br>
        <h3 style="color: rgba(50,205,50,1); font-family: Montserrat">Signup/Login is Required</h3>
        <a id='login' class="btn btn-success" href="{% url 'main:login' %}">Log in</a>
        <a id='signup' class="btn btn-outline-success" href="{% url 'main:signup' %}">Sign up</a>
      </div>
      </div>
      {% endif %}
</div>
{% endblock %}
